#core-values {
    background: $grey;
    text-align: center;
    padding: 10px 0 6px;

    div {
        display: inline-block;
        float: none;
        margin: 0 3%;
        @media (max-width: 940px) {
            margin: 0 2%;
        }
        @include breakpoint($break-large) {
            margin: 0 1.5%;
        }
        @include breakpoint($break-small) {
            margin: 0 auto 5px;
            width: 80%;
        }

        img {
            float: left;
            margin-right: 7px;
            @include breakpoint($break-small) {
                float: right;
                margin-right: 0;
            }
        }

        p {
            float: left;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 600;
            margin: 12px 0 0;
            @media (max-width: 700px) {
                font-size: 12px;
            }
        }
    }
}
